name: CI

# This workflow will do a clean install of dependencies, cache them up to 10 days,
# run tests and build with - (https://github.com/features/actions)
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        # See supported Node.js release at https://github.com/actions/setup-node/issues/171

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm' # Cache npm dependencies
    - name: Install Dependencies
      run: npm ci # Use 'npm ci' for cleaner installs in CI environments
    - name: Run Linters & Formatters
      run: npm run lint && npm run format # Assuming you have 'lint' and 'format' scripts in package.json
    - name: Run Tests
      run: npm test # Assuming you have a 'test' script in package.json
    - name: Build Project
      run: npm run build # Assuming you have a 'build' script in package.json
